<div id="bannerCarousel" class="carousel slide banner" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner-slide" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsoletyk5/image/upload/v1722912793/destaque_chocolates_novos_zona_sul_guerin_y88cal.jpg);">
        <div class="container container-banner">
          <h1>Choco Shop brings <strong>handmade chocolates</strong> to <strong>your home</strong>!</h1>
          <p>Discover new tastes and boost local economy.</p>
          <%= link_to "Shop Now", products_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-slide" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsoletyk5/image/upload/v1723320510/banner_3_xbwnou.png);">
        <div class="container container-banner">
          <h1>Delicious <strong>Artisanal Chocolates</strong></h1>
          <p>Taste the difference with our carefully crafted chocolates.</p>
          <%= link_to "Explore", products_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner-slide" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsoletyk5/image/upload/v1723321073/ba3_kmu8is.png);">
        <div class="container container-banner">
          <h1>Support <strong>Local Chocolate Makers</strong></h1>
          <p>Every purchase helps our community grow.</p>
          <%= link_to "Learn More", products_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-4 mb-4">
  <h1 class="title_home">Most Popular Choices</h1>
  <div class="d-flex justify-content-between mb-3">
    <% @products.each do |product| %>
        <%= link_to product_path(product), class:"content_link" do %>
        <div class="container card_products">
          <div class="img_card_container">
          <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class: "img_card", alt: "product_photo" %>
            <% else  %>
              <%= image_tag "no_pic.png", class: 'img_card' %>
            <% end %>
          </div>
          <div class="product_details">
            <h2 class="product_name"><%= product.name %></h2>
            <p class="product_description"><%= product.description %></p>
            <p class="product_price"><%= number_to_currency(product.price) %></p>
            <%= link_to "Know More", product_path(product), class: 'know_more_button' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "View All Chocolates", products_path, class: "btn btn-flat" %>
</div>
