<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsoletyk5/image/upload/v1722912793/destaque_chocolates_novos_zona_sul_guerin_y88cal.jpg);">
  <div class="container">
    <h1>Choco Shop brings <strong>handmade chocolates</strong> to <strong>your home</strong>!</h1>
    <p>Discover new tastes and boost local economy.</p>
    <%= link_to "Shop Now", products_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container mt-4 mb-4">
  <h1>Most Popular Choices</h1>
  <div class="d-flex">
    <% @products.each do |product| %>
      <div class="card-product w-50 h-75 mt-5 mb-5">
        <img src="https://res.cloudinary.com/dsoletyk5/image/upload/v1723071230/225732-800-800_v4zfoy.png" />
        <div class="card-product-infos">
          <ul>
            <li><%= product.name%></li>
            <li><%= product.price%></li>
          </ul>
          <p><%= product.description%></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "View All Chocolates", products_path, class: "btn btn-flat" %>
</div>
