<% if @products.present? %>
  <ul class="d-flex ul_card">
    <% @products.each do |product| %>
      <div class="container card_products">
        <div class="img_card_container">
          <%= link_to product_path(product) do %>
            <%= image_tag "mockup4.png", class: 'img_card' %>
          <% end %>
        </div>
        <div class="product_details">
          <h2 class="product_name"><%= link_to product.name, product_path(product) %></h2>
          <p class="product_description"><%= product.description %></p>
          <p class="product_price"><%= number_to_currency(product.price) %></p>
          <%= link_to "Know More", product_path(product), class: 'know_more_button' %>
        </div>
      </div>
    <% end %>
  </ul>
<% else %>
  <h1>No products available yet</h1>
<% end %>

<%= link_to "Add New Chocolate", new_product_path, class: 'add_product_button' %>
